@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

h1{
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 98px;
}

p,li, h3, h2 {
	font-size: 26px;
	padding-left: 148px;
}

h3 {
	font-style: oblique;
	color: 
}

h4 {
	font-size: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

body {
font-family: 'Source Sans Pro', sans-serif;
}

#background{
	z-index: -1;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

#offset {
	width: 5%;
	height: 5%;
}

#word {
	width: 20%;
	height: 50%;
}

.buttons {
	position: relative;
}

#btnGo{
	position: absolute;
	bottom: 5px;
	right: 60px;
	font-size: 22px;
	background-color: #F7F8B4;
	border: 1px dotted black;
}

#clearBtn {
	position: absolute;
	bottom: 45px;
	right: 60px;
	font-size: 22px;
	background-color: #F7F8B4;
	border: 1px dotted black;
}
#goBack {
	position: absolute;
	bottom: 45px;
	left: 160px;
	font-size: 22px;
	background-color: #D4F6AE;
	border: 1px dotted black;
}

#image1, #image2{
	width: 25px;
	height: 25px;
}

#btns {
	position: absolute;
	left: 45%;
	top: 75%;
}

#word {
	width: 230px;
	height: 130px;
	position: absolute;
	bottom: 27%;
}

#text {
	width: 230px;
	height: 130px;
	position: absolute;
	left: 50%;
	bottom: 27%;
}

.clearBtn {
  position: absolute;
  font-size: 18px;
  margin-right: 200px;
}

