@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Neucha');

h1{
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 95px;
	color: #E65C46;
	font-weight: bold;
}

h3, h2 {
	font-size: 23px;
	font-style: oblique;
	padding-left: 155px;
}

p, li {
	font-family: 'Neucha', cursive;
	color: #0455B6;
	font-size: 24px;
	padding-left: 155px;
}


h4 {
	font-size: 57px;
	text-align: center;
	color: #E65C46;
	font-family: 'Neucha', cursive;
}

h5 {
	font-family: 'Neucha', cursive;
	color: #0455B6;
	font-size: 35px;
	padding-left: 155px;
}
.size {
	width: 30px;
}

body {
font-family: 'Source Sans Pro', sans-serif;
}

#background{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

#offset {
	width: 5%;
	height: 10%;
	font-size: 18px;
}

.buttons {
	position: relative;
}

#btnGo{
	position: absolute;
	bottom: 1px;
	right: 60px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	background-color: #F1F518;
	border: 1px dotted black;
	border-radius: 25px;
}

#clearBtn {
	position: absolute;
	bottom: 60px;
	right: 60px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	background-color: #F1F518;
	border: 1px dotted black;
	border-radius: 25px;
}

#goBack {
	position: absolute;
	bottom: 60px;
	left: 170px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	background-color: #37C104;
	border: 1px dotted black;
	border-radius: 25px;
}

#image1, #image2{
	width: 25px;
	height: 25px;
}

#btns {
	position: absolute;
	left: 45%;
	top: 75%;
}

#encodeBtn, #decodeBtn {
	border: 1px dotted black;
	border-radius: 25px;
}

#word {
	width: 50%;
	height: 50%;
	font-size: 15px;
	bottom: 20%;
	position: absolute;
}

#text {
	width: 200px;
	height: 50px;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 20%;
}

.clearBtn {
  position: absolute;
  font-size: 18px;
  margin-right: 200px;
}

