@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Neucha');

h1{
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	font-size: 100px;
	color: #F55B18;
}

h3, h2 {
	font-size: 26px;
	padding-left: 148px;
}

p, li { 
	font-family: 'Neucha', cursive;
	color: #0455B6;
	font-size: 25px;
	padding-left: 155px; }

h3 {
	font-style: oblique;
	color: 
}

h4 {
	font-size: 50px;
	text-align: center;
	color: #E65C46;
	font-family: 'Neucha', cursive;
}

h5 {
	font-family: 'Neucha', cursive;
	color: #0455B6;
	font-size: 35px;
	padding-left: 155px;
}

body {
font-family: 'Source Sans Pro', sans-serif;
}

#background{
	z-index: -1;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 110%;
	opacity: 0.3;
}

#offset {
	width: 5%;
	height: 5%;
	font-size: 15px;
}

#word {
	width: 20%;
	height: 50%;
}

.buttons {
	position: relative;
}

#btnGo{
	position: absolute;
	bottom: 1px;
	right: 60px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	background-color: #F1F518;
	border: 1px dotted black;
	border-radius: 25px;
}

#clearBtn {
	position: absolute;
	bottom: 45px;
	right: 60px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	background-color: #F1F518;
	border: 1px dotted black;
	border-radius: 25px;
}
#goBack {
	position: absolute;
	bottom: 45px;
	left: 180px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	background-color: #37C104;
	border: 1px dotted black;
	border-radius: 25px;
}

#image1, #image2{
	width: 25px;
	height: 25px;
}

#btns {
	position: absolute;
	left: 45%;
	top: 75%;
}

#encodeBtn, #decodeBtn {
	border: 1px dotted black;
	border-radius: 25px;
}

#word {
	width: 230px;
	height: 130px;
	font-size: 15px;
	position: absolute;
	bottom: 27%;
}

#text {
	width: 230px;
	height: 130px;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 27%;
}

.clearBtn {
  position: absolute;
  font-size: 18px;
  margin-right: 200px;
}